<h2>User info</h2>
        <table class="table">
            <tbody>
                <tr> 
                    <% if user.profile_image.attached? %>
                    <%= image_tag book.user.get_profile_image, size: "100x100" %>
                    <% else %>
                    <%= image_tag 'no_image', size: "100x100" %>
                    <% end %>
                </tr>
                <tr>
                    <th>name</th>
                    <th><%= user.name %></th>
                </tr>
                <tr>
                    <th>introduction</th>
                    <th><%= user.introduction %></th>
                </tr>
            </tbody>
        </table>
        
         <div class="row">
        　　<% if @user.id == current_user.id %>
            <a class="btn btn-outline-secondary btn-block" href="/users/<%= current_user.id %>/edit"><i class="fas fa-user-cog"></i></a>
            <% else %>
            <a class="btn btn-outline-secondary btn-block" href="/users/<%= current_user.id %>"><i class="fas fa-user-cog"></i></a>
            <% end %>
        </div>